html{
}
body{
    font-size:1em;
    text-align: center;
}
form{
    margin:auto;
    width:80%;
    border: 1px solid black;
    text-align: center;
}
form div{
    opacity: 0.6;
    margin: auto;
    text-align: center ;
    width:350px;
    color:rgb(151, 151, 240);
    font-size: 40px;
    border: 6px solid rgb(151, 151, 240);
    border-radius: 50%;
}

form input,textarea{
    width:90%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color:rgba(151, 151, 240,0.4);
    
}
textarea{
    height: 100px;
}